

.div1,.div2,.div3{
    display: inline-block;
    width: 350px;
    height: 350px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    


 
}
.div1{
    border: 7px solid red;
}
.div2{
    
    border-left: 7px dashed red;
    border-right: 7px dashed red;
    background-color: darkslateblue;
    color: white;

}
.div3{
    border-top: 7px dashed red;
    border-bottom: 7px dashed red;
    background-color: grey;
    color: white;
    position: absolute;
    top: 20px;
}